.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "daniel daniel johnathan kira"
    "jenaette patrick patrick kira";
}

.daniel { grid-area: daniel; }

.johnathan { grid-area: johnathan; }

.kira { grid-area: kira; }

.jenaette { grid-area: jenaette; }

.patrick { grid-area: patrick; }
